#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

header span {
  padding-right: 8px;
  font-size: 1.4rem;
}
